  <!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Tout ce que tu veux
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023-2024 <a asp-area="" asp-controller="Home" asp-action="Index">Gestion RH</a>.</strong> Tous droits réservés.
</footer>
