@model ProjetDotnet.Models.Conge

@{
    ViewData["Title"] = "Confirmer Conge";
}

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="BtnConfirmerConge">
                <input type="hidden" asp-for="Id_conge" />
                <input type="hidden" asp-for="type_conge" />
                <input type="hidden" asp-for="description_conge" />
                <input type="hidden" asp-for="date_env_conge" />
                <input type="hidden" asp-for="date_deb_conge" />
                <input type="hidden" asp-for="date_fin_conge" />
                <input type="hidden" asp-for="employerId" />
                <div class="modal-header">
                    <h5 class="modal-title">Confirmer le congé</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Voulez-vous vraiment confirmer le congé de "@Model.Employer.nom_emp @Model.Employer.prenom_emp" ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Annuler</button>

                    <input type="submit" value="Confirmer" class="btn btn-outline-warning float-right" />

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
